.buttons{
    display: none;
}
.mystyle {
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding-top: 5rem;
   padding-bottom: 8rem;
   padding-left: 5rem;
   padding-right: 5rem;
   margin-top: 3rem;
} 


